a {
  color: #eaf6f6;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
  font-weight: bold;
}

body {
  color: #eaf6f6;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  color: #66bfbf;
  font-size: 4rem;
  margin: 50px auto 0 auto;
  font-family: "Merriweather", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 5px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-style: oblique;
  font-weight: bold;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

#imgRedonda {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.accordion-body {
  font-family: "Montserrat", sans-serif;
  background-color: #11999e;
}

.accordion-button {
  background-color: #2c394b;
  border-color: #082032;
  color: #eaf6f6;
}

.accordion-button:hover {
  background: #eaf6f6;
  text-decoration: none;
  font-weight: bold;
  color: #082032;
}

.accordion-item {
  background-color: #2c394b;
}

.bottom-container {
  background-color: #334756;
  padding: 20px 0 10px;
}

.btn {
  background: #ff4c29;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fec3be;
  text-decoration: none;
}

.card-title {
  color: #11999e;
}

.card-body {
  color: #ff4c29;
}

.checked {
  color: #30e3cb;
}

.contact-message {
  width: 40%;
  margin: 40px auto 40px;
}

.copyright {
  color: #ffffff;
  font-size: 0.75rem;
  padding: 20px 0;
}

.henry-ford {
  font-family: "Montserrat", sans-serif;
  font-style: oblique;
  font-size: 150%;
  color: #11999e;
  text-align: center;
}

.image-under {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  padding: 5px;
}

.image-guitar {
  max-width: 100%;
  max-height: 75%;
  padding: 5px;
}

.image-cinema {
  max-width: 100%;
  max-height: 74%;
  padding: 5px;
}

.intro {
  width: 30%;
  margin: auto;
}

.list-group-item:hover {
  background: #eaf6f6;
  text-decoration: none;
  font-weight: bold;
  color: #082032;
}

.list-group-item {
  font-family: "Montserrat", sans-serif;
  background-color: #2c394b;
  border-color: #082032;
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  color: #eaf6f6;
}

.middle-container {
  background-color: #2c394b;
  padding-top: 20px;
  padding-bottom: 50px;
}

.modal-dialog {
  color: #082032;
}

.top-container {
  background-color: #082032;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}
